* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    background: black;
  }
  
  .app {
    text-align: center;
  }
  
  header {
    //margin-top: 140px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 140px;
    transition: 500ms;
  }
  
  header h1 {
    margin: 0px 0px 30px 0px;
    text-align: center;
    font-size: 42px;
    color: black;
  }
  
  header p {
    font-size: 20px;
    color: black;
    opacity: 0.4 !important;
    margin-top: 0px;
    transition: 300ms;
  }
  
  .pads {
    position: absolute;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    display: grid;
    border-radius: 200px 200px 0px 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    bottom: 0px;
  }
  
  .pads > div {
    height: calc(100vh - 48px);
    text-align: left;
    display: flex;
    // transform: rotate(180deg);
    transition: 300ms;
  
    p {
      position: relative;
      height: 40px;
      width: 100%;
      //border: solid white 2px;
      font-size: 24px;
      background: white;
      backdrop-filter: invert(1);
      opacity: 0;
    }
    
    p:nth-child(1) {
      animation: equalizer 400ms linear infinite;
    }
    p:nth-child(2) {
      animation: equalizer 320ms linear infinite;
    }
    p:nth-child(3) {
      animation: equalizer 390ms linear infinite;
    }
    p:nth-child(4) {
      animation: equalizer 420ms linear infinite;
    }
    p:nth-child(5) {
      animation: equalizer 270ms linear infinite;
    }
    p:nth-child(6) {
      animation: equalizer 265ms linear infinite;
    }
    p:nth-child(7) {
      animation: equalizer 450ms linear infinite;
    }
    p:nth-child(8) {
      animation: equalizer 350ms linear infinite;
    }
    p:nth-child(9) {
      animation: equalizer 490ms linear infinite;
    }
    p:nth-child(10) {
      animation: equalizer 305ms linear infinite;
    }
    p:nth-child(11) {
      animation: equalizer 235ms linear infinite;
    }
    p:nth-child(12) {
      animation: equalizer 360ms linear infinite;
    }

    @keyframes equalizer {
      0% {
        height: 375px;
      }

      50% {
        height: 450px;
      }

      100% {
        height: 375px;
      }
    }
  
    &:hover {
      filter: brightness(1.2);
      cursor: pointer;
    }
  }
  
  .pad1 {
    background: #79B473;
  }
  
  .pad2 {
    background: #70A37F;
  
  }
  
  .pad3 {
    background: #41658A;
  
  }
  
  .pad4 {
    background: #414073;
  }
  
  .pad5 {
    background: #4C3957;
    //border-radius: 0px 200px 0px 0px;
  }
  
  .pad6 {
    background: #5C4B66;
    //border-radius: 200px 0px 0px 0px;
  }
  
  #visual {
    //position: absolute;
    background-image: url("../../res/pose1.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .wave {
    position: absolute;
    width: 100%;
    height: 140px;
    top: calc(50% - 10px);
    background: url("../../res/wave.svg");
    animation: wave 8s linear infinite;
    transform: rotate(180deg);
    pointer-events: none;
    z-index: 2;
  }
  
  @keyframes wave {
    0% {
      background-position: 0px 0px;
    }
  
    100% {
      background-position: -1600px 0px;
    }
  }
  
  .menu-container {
    position: absolute;
    padding: 40px;
    z-index: 10;
  
    ul {
      list-style: none;
    }
  
    li:nth-child(1) {
      font-weight: bolder;
      font-size: 28px;
      //opacity: 0.5;
      //color: #ef9a9a;
    }
  
    li {
      margin-bottom: 10px;
      transition: 300ms;
      //opacity: 0.5;
  
      &:hover {
        //cursor: pointer;
        //opacity: 0.4;
      }
    }
  }
  
#timer {
  position: absolute;
  background: white;
  height: 3px;
  width: 0%;
  opacity: 1;
  top: 45px;
  z-index: 1;
  backdrop-filter: invert(1);
  //border-radius: 0px 20px 20px 0px;
  pointer-events: none;
  z-index: -1;
}

.timer-active {
  animation: timer 12s cubic-bezier(0, 0.55, 0.45, 1) infinite;
}

@keyframes timer {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
    //opacity: 1;
  }
  100% {
    width: 100%;
    //opacity: 0;
  }
}

.waiting {
  animation: waiting 200ms ease infinite;
}

@keyframes waiting {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.equalizer {
  position: relative;
  //height: 0%;
  width: 100%;
  bottom: 0px;
  background: red;
  //border: gray solid 2px;
  vertical-align: bottom;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  display: none;
}

.music-bar {
  padding: 0;
  margin: 0;
  position: relative;
  bottom: 0;	
  height: 150px;
  width: 100%;
  vertical-align: bottom;
  background-color: rgba(0,0,0,0.2);
  background-blend-mode: multiply;
  //border-radius: 0px 0px 30px 30px;
}


  @media only screen and (max-width: 768px) {
    .pads {
      div {
        height: 30vh;
      }

      .pad1 {
        border-radius: 0px 0px 100px 0px !important;
      }
  
      .pad6 {
        border-radius: 0px 0px 0px 100px !important;
      }
  
      span {
        display: none;
      }
    }
  
    .wave {
      display: none;
    }
  
    header {
      top: 30%;
    }
  
    header h1 {
      margin-top: 0px;
      font-size: 32px;
      margin-top: 0px;
    }
    header p {
      font-size: 14px;
    }
  
    #visual {
      width: 90px;
      height: 90px;
    }
  
    .menu-container {
      padding: 20px;
    }
  }
  
a {
  text-decoration: none;
  color: black;
}

#options {
  li {
    margin: 0px 12px;
  }
  list-style: none; 
  height: 48px; 
  position: absolute; 
  cursor: pointer; 
  color: white;
  //backdrop-filter: invert(1); 
  display: flex; 
  justify-content: center;
  align-items: center; 
  width: 100%; 
  //background: black; 
  margin: auto;
}